<!DOCTYPE>
<html>
<head> ENTER THE STUDENT'S DATA </head>

<body>

<form action = '/data/', method = "POST">

<label for "studentID"> STUDENT ID:   </label>
<input type =  "text" name = "studentID" > <br>
<label for  "firstName"> FIRST NAME:    </label>
<input type =  "text" name = "firstName"  > <br>
<label for  "lastName" > LAST NAME:     </label>
<input type =  "text" name = "lastName"   > <br>
<label for     "dob"   > DATE OF BIRTH: </label>
<input type =  "text" name = "dob"        > <br>
<label for  "amountDue"> AMOUNT DUE:    </label>
<input type =  "text" name = "amountDue"  > <br>
<input type="submit" value="Submit">

</form>

</body>

</html>